.featured-post {
  position: relative;
  width: 100%; /* Make it responsive to the container's width */
  padding-top: 56.25%; /* Aspect ratio (16:9). Adjust as needed */
  margin: 5px 10px 10px;
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the image within the div */
  background-repeat: no-repeat; /* Prevent tiling */
  overflow: hidden; /* Optional: Ensures child elements don’t overflow */
}

.featured-post h2 {
  margin: 10px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.featured-post:hover h2 {
  opacity: 1; /* Become visible on hover */
}

.featured-post h2 span {
  display: inline-block;
  color: white;
  font: bold 18px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  padding: 10px;
}

.featured-post span a {
  color: white;
}

.featured-post h1 {
  margin: 10px;
}

/*
  Pagination
*/

.pagination {
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}
